.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    width: fit-content;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.logo img {
    width: 150px;
}