.login{
    width: 100vw;
    height: 100vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #6b7b93, #486da7, #205cb8, #0047c4, #0f2ac9);
}

.login-container{
    background: whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 24px;
    text-align: right; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login-container hr{
    width: 90%;
    margin: 16px 0;
}

.login-container button {
    width: 70%;
    height: 32px;
    border: solid 1px black;
    border-radius: 5px;
    background: #0f2ac9;
    color: white;
    font-weight: bold;
    transition: ease-in-out 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;  
}

.login-container button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
